# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: deploy
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to run actiomn against"
        type: environment
        required: false

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}

jobs:
  cloudflare-pages-deploy:
    permissions:
      actions: read
      contents: read
      deployments: write
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0
      - id: "cloudflare-pages"
        uses: ./
        with:
          cloudflare-api-token: ${{secrets.CLOUDFLARE_API_TOKEN}}
          cloudflare-account-id: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          cloudflare-project-name: ${{ vars.CLOUDFLARE_PROJECT_NAME }}
          directory: dist
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-environment: ${{ inputs.environment || 'preview' }}
          working-directory: example
      - id: "cloudflare-pages-delete"
        uses: ./delete
        # if main branch
        if: github.ref == 'refs/heads/main'
        with:
          cloudflare-api-token: ${{secrets.CLOUDFLARE_API_TOKEN}}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Only required for legacy action deployments.
          github-environment: ${{ inputs.environment || 'preview' }}
          keep-latest: 2
