# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: deploy delete
on:
  pull_request:
    types:
      - closed
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: deploy-delete-${{ github.head_ref || github.run_id }}

jobs:
  cloudflare-pages-deploy-delete:
    permissions:
      actions: read
      contents: read
      deployments: write
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
      - id: "cloudflare-pages"
        uses: ./delete
        with:
          cloudflare-api-token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
