# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: test
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - uses: unlike-ltd/github-actions/setup-pnpm@v0.0.2
        with:
          node-version: 18.x
      - name: Lint
        run: pnpm run lint
      - name: Test
        run: pnpm run test
  action:
    permissions:
      contents: read
      deployments: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - id: 'our-action'
        uses: ./
        with:
          apiToken: ${{secrets.CLOUDFLARE_API_TOKEN}}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: ${{ vars.CLOUDFLARE_PROJECT_NAME }}
          directory: 'example/dist'
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          github-environment: 'preview'
