# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: test
permissions:
  contents: read
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
      - uses: andykenward/github-actions/setup-pnpm@29a88e7e0d84f5c1de18a54e5435a7c9be824971 #v2.0.0
        with:
          node-version: 24
      - name: Cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #v5.0.3
        with:
          path: |
            ~/.cache/
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml', '**/eslint.config.js', '**/prettier.config.cjs', '**/tsconfig.json', '**/knip.json', '**/vitest.config.ts', '**/vitest.setup.ts') }}
      - name: Lint
        run: pnpm run lint --cache-strategy content
      - name: Typecheck
        run: pnpm run tsc:check
      - name: Test
        run: pnpm run test:ci
